body {
  background-color: black;
  font-family: "Agdasima", sans-serif;
  color: aliceblue;
}

img {
  border: 5px solid white;
  width: 100%;
}

div {
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
  align-content: center;
}

p {
  text-align: center;
}

h1 {
  text-transform: capitalize;
  text-align: center;
}
